.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s ease-out;
  }
}

.App-header {
  background-color: #AF7B40;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg) scale(0.1);
  }
  33% {
    transform: rotate(720deg) scale(3);
  }
  66% {
    transform: rotate(720deg) scale(3);
  }
  100% {
    transform: translateX(-1500px) scale(3);;
  }
}
